<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="masthead mb-auto" th:fragment="header">
    <div class="inner">
        <h3 class="masthead-brand">Cover</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" th:href="@{/admin/adminhome}">Home</a>
            <a class="nav-link" th:href="@{/productmanagement}">Product management</a>
            <a class="nav-link" th:href="@{/admin/productreviews}">product reviews</a>
            <a class="nav-link" th:href="@{/admin/pendingsalers}">pending salers</a>
        </nav>
    </div>
</header>
</body>
</html>