<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Registered Successfully </title>
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../css/main.css"/>
</head>

<body>

<h1>Registered Successfully</h1>
<p>First Name:<span th:text="${newCustomer.firstName}"></span></p>
<p>Last Name:<span th:text="${newCustomer.lastName}"></span></p>
<p>Reg Date: <span th:text="${newCustomer.dateRegistered}"></span></p>

<p>Nex Time, Use Your User Account To Login.</p>
<p><a th:href="@{/home}"> Back To Home</a></p>

</div>
</body>
</html>