<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Dash Board</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div>
    <div class="container">
        <h1>Welcome to Golden Dome Shop!</h1>
    </div>

</div>
<div class="col-lg-2 col-sm-2 col-md-2">
    <h4>Approve</h4>
    <ul class="list-group">
        <li class="list-group-item">
            <form th:action="@{/admin/aproveposts}" method="get">
                <button class="btn btn-link" type="Submit">Approve Posts</button>
            </form>
        </li>
        <li class="list-group-item">
            <form th:action="@{/admin/approvereviews}" method="get">
                <button class="btn btn-link" type="Submit">Approve Reviews</button>
            </form>
        </li>
    </ul>

    <h4>Sales</h4>
    <ul class="list-group">

        <li class="list-group-item">
            <form th:action="@{/seller/registerseller}" method="get">
                <button class="btn btn-link" type="Submit">Register As Seller</button>
            </form>
        </li>

        <li class="list-group-item">
            <form th:action="@{/seller/productcrud}" method="get">
                <button class="btn btn-link" type="Submit">Manage Products</button>
            </form>
        </li>

        <li class="list-group-item">
            <form th:action="@{/seller/maintainorders}" method="get">
                <button class="btn btn-link" type="Submit">Maintain Orders</button>
            </form>
        </li>
    </ul>

    <h4>Buyers</h4>
    <ul class="list-group">

        <li class="list-group-item">
            <form th:action="@{/buyer/registerbuyer}" method="get">
                <button class="btn btn-link" type="Submit">Register As Buyer</button>
            </form>
        </li>

        <li class="list-group-item">
            <form th:action="@{/buyer/followunfollowsellers}" method="get">
                <button class="btn btn-link" type="Submit">Follow-Unfollow Sellers</button>
            </form>
        </li>

        <li class="list-group-item">
            <form th:action="@{/buyer/cartcrud}" method="get">
                <button class="btn btn-link" type="Submit">Manage Shopping Cart</button>
            </form>
        </li>

        <li class="list-group-item">
            <form th:action="@{/buyer/addresscrud}" method="get">
                <button class="btn btn-link" type="Submit">Manage Addresses</button>
            </form>
        </li>

        <li class="list-group-item">
            <form th:action="@{/buyer/payments}" method="get">
                <button class="btn btn-link" type="Submit">Maintain Payments</button>
            </form>
        </li>

        <li class="list-group-item">
            <form th:action="@{/buyer/manageorders}" method="get">
                <button class="btn btn-link" type="Submit">Manage Orders</button>
            </form>
        </li>
        </br>
        <li class="list-group-item">
            <form th:action="@{/buyer/reviewproduct}" method="get">
                <button class="btn btn-link" type="Submit">Review Product</button>
            </form>
        </li>
    </ul>

</div>
<div class="col-lg-7 col-md-7 col-sm-7">

    <div class="container">

        <form th:action="@{/logout}" method="get">
            <button class="btn btn-md btn-danger btn-block" name="logoutbtn"
                    type="Submit">Logout
            </button>
        </form>

        <div class="panel-group" style="margin-top:40px">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span th:utext="${username}"></span>
                </div>
                <div class="panel-body">
                    <img th:src="@{/images/MIULogo.jpg}" class="img-responsive center-block" width="400" height="400"
                         alt="MIU"/>
                </div>
                <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
            </div>
        </div>

    </div>
</div>

<div class="col-lg-3 col-sm-3 col-md-3">

</div>


</body>
</html>
