<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register as Buyer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <div class="container">

        <h1>Customer Registration Form</h1>
    </div>
    <div class="container">
        <br>
        <a href="/home">Home</a>
    </div>
</div>
<div class="col-lg-3 col-sm-3 col-md-3">

</div>
<div class="col-lg-6 col-md-6 col-sm-6">
    <div id="global" >
        <form action="#" th:action="@{/customer/processCustomerForm}" th:object="${newCustomer}" method="post">
            <fieldset>
                <legend>Please Compelete The Registration Process</legend>
                <p>
                    <label for="firstName">First Name:</label><input class="form-control" id="firstName" type="text" th:field="*{firstName}"/>
                </p>
                <p>
                    <label for="lastName">Last Name:</label> <input class="form-control" id="lastName" type="text" th:field="*{lastName}"/>
                </p>
                <p>Address:</p>
                <p>
                    <label for="country">Country:</label> <input class="form-control" id="country" type="text" th:field="*{billingAddresses.country}"/>
                </p>
                <p>
                    <label for="state">State:</label> <input class="form-control" id="state" type="text" th:field="*{billingAddresses.state}"/>
                </p>
                <p>
                    <label for="city">City:</label> <input class="form-control" id="city" type="text" th:field="*{billingAddresses.city}"/>
                </p>

                <p>
                    <label for="street">Street:</label> <input class="form-control" id="street" type="text" th:field="*{billingAddresses.street}"/>
                </p>

                <p>
                    <label for="zipCode">ZipCode:</label> <input class="form-control" id="zipCode" type="text" th:field="*{billingAddresses.zipCode}"/>
                </p>
                <p>
                    <label for="phone">Phone:</label> <input class="form-control" id="phone" type="text" th:field="*{billingAddresses.phone}"/>
                </p>
                <p>
                    <label for="email">Email:</label> <input class="form-control" id="email" type="text" th:field="*{billingAddresses.email}"/>
                </p>

                <p>Billing Info:</p>
                <p>
                    <label for="cardNo">CardNo:</label> <input class="form-control" id="cardNo" type="text" th:field="*{billingAddresses.cardNo}"/>
                </p>
                <p>
                    <label for="accountProvider">Country:</label> <input class="form-control" id="accountProvider" type="text" th:field="*{billingAddresses.cardProvider}"/>
                </p>

                <p>
                    <input id="btnAdd2" type="submit" class="btn btn-primary" value = "Add"/>
                    <a href="/customer//register" class="btn btn-primary"><span
                            class="fas fa-userAccount-plus ml-2"> Back</span></a>
                </p>
            </fieldset>
        </form>
    </div>
</div>
<div class="col-lg-3 col-sm-3 col-md-3">

</div>
</body>
</html>
